
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/2967eb3a-bb2e-4550-abad-57fee59fdcae.vsidx
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/3c0c2548-1cc8-4e13-9e3a-028849b5dbc6.vsidx
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/bf596df9-544d-482b-9757-1898b89cf2e9.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/9281a441-ace0-4a05-92cd-10000ba5e275.vsidx
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.projects.v5.1
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.metadata.v5.1
ConsoleApp1/.vs/ConsoleApp1/v17/.suo
ConsoleApp1/.vs/ConsoleApp1/v17/.futdcache.v2
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/fe237799-d43c-4718-8575-1ef9f3b3c2a3.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/ef00b1f2-93d1-47d2-8d53-3f8b47f0a5eb.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/c0c41178-07bd-4783-a2ee-586250b5f4f3.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/9281a441-ace0-4a05-92cd-10000ba5e275.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/854c7a14-efe4-4786-b493-2503135a9ae7.vsidx
ConsoleApp1/.vs/ConsoleApp1/DesignTimeBuild/.dtbcache.v2
ConsoleApp1/.vs/ProjectEvaluation/consoleapp1.projects.v5.1
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/fb71cca9-f3c0-410c-90ea-daaa30931e29.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/fd934169-40b0-46d3-97c4-d8578049632b.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/f516948a-9f39-4d13-a3ae-cbe8cdf92c5a.vsidx
ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/f3dca851-b85c-4363-a847-6139b295feb1.vsidx

